<template>
    <section v-on:click="writeTag" class="container">
        <header>{{ t.name }}</header>
        <section>{{ t.locationHint }}</section>
        <div class="collected">
            Collected:
            <input type="checkbox" v-model="t.collected" :id="treasure.id" disabled />
        </div>
    </section>
</template>

<script>
/*global NDEFReader*/

export default {
    setup() {
        
    },
    data() {
        return {
            t: this.treasure,
        };
    },
    props: {
        treasure: Object,
    },
    methods: {
        async writeTag() {
            const ndef = new NDEFReader();
            try {
                await ndef.write(this.treasure.id);
                // alert("Code written");
            } catch(error) {
                console.log(error);
            }
        },
    },
}
</script>

<style scoped>
.container {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.collected {
    display: flex;
    align-items: flex-end;
}

input {

}

.container header {
    grid-column: 1 / -1
}

.container section {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}
</style>