<template>
  <!-- TODO: Replace both modals with unique WarningModal which takes an error -->
  <!-- Modal popup if geolocation not available -->
  <no-geolocation-modal v-if="showNoGeolocationModal"></no-geolocation-modal>

  <!-- Modal popup if geolocation accuracy not appropriate -->
  <low-accuracy-modal v-if="showLowAccuracyModal"></low-accuracy-modal>

  <header class="banner">Treasure Hunt</header>

  <div v-if="nfcAvailable">NFC OK</div>
  <div v-else>NFC NOK</div>

  <div>
    <h2>Your coordinates</h2>
    <ul>
      <!-- <li>accuracy: {{ accuracy }}</li> -->
      <li>latitude: {{ latitude }}</li>
      <li>longitude: {{ longitude }}</li>
      <!-- <li>altitude: {{ altitude }}</li>
      <li>altitudeAccuracy: {{ altitudeAccuracy }}</li>
      <li>heading: {{ heading }}</li>
      <li>speed: {{ speed }}</li> -->
    </ul>
  </div>

  <!-- <ul> -->
    <!-- <li>Record Type: {{ recordType }}</li>
    <li>MIME Type: {{ mediaType }}</li> -->
    <!-- <li>data: {{ decodedNfcData }}</li> -->
  <!-- </ul> -->

  <!-- Refresh geolocation button / Scan -->
  <button v-on:click="scan">Scan</button>

  <!-- Start NFC reader -->
  <button v-on:click="readTag">Read NFC</button>
  <!-- <button v-on:click="writeTag">Write NFC</button> -->

  <!-- TRM - Used for testing purposes -->
  <pre id="log"></pre>

  <treasure-list-item v-for="treasure of treasures" :key="treasure.id" v-bind:treasure="treasure" class="treasure-list-item"></treasure-list-item>
</template>

<script>
import NoGeolocationModal from './components/NoGeolocationModal.vue'
import LowAccuracyModal from './components/LowAccuracyModal.vue'
import TreasureListItem from './components/TreasureListItem.vue'

/*global NDEFReader*/
Number.prototype.toRad = function() { return this * Math.PI / 180; }

export default {
  name: 'App',
  data() {
    return {
      // geolocCoords: undefined,
      // recordType: "",
      // mediaType: "",
      decodedNfcData: "",
      accuracy: 0,
      latitude: 0,
      longitude: 0,
      // altitude: 0,
      // altitudeAccuracy: 0,
      // heading: 0,
      // speed: 0,
      treasures: [
        {
          id: 1,
          name: "Tête en carton",
          locationHint: "Location hint 1",
          location: {
            latitude: 45.3914,
            longitude: 0.0831,
          },
          collected: true,
          collectionTimestamp: 0,
        },
        {
          id: 2,
          name: "Le retour de la momie",
          locationHint: "Location hint 2",
          location: {
            latitude: 45.39130,
            longitude: 0.08544,
          },
          collected: false,
          collectionTimestamp: 0,
        },
        {
          id: 3,
          name: "Le dîner long",
          locationHint: "Location hint 3",
          location: {
            latitude: 45.6478872,
            longitude: 0.1433536,
          },
          collected: false,
          collectionTimestamp: 0,
        },
      ],
    };
  },
  components: {
    NoGeolocationModal,
    LowAccuracyModal,
    TreasureListItem,
  },
  methods: {
    scan() {
      navigator.geolocation.getCurrentPosition((location) => {
        // this.geolocCoords = location.coords;
        this.accuracy = location.coords.accuracy;
        this.latitude = location.coords.latitude;
        this.longitude = location.coords.longitude;
        // this.altitude = location.coords.altitude;
        // this.altitudeAccuracy = location.coords.altitudeAccuracy;
        // this.heading = location.coords.heading;
        // this.speed = location.coords.speed;

        let closeByTreasure = false;
        let closestDistance = undefined;

        this.consoleLog("Scanned");

        for (let t of this.treasures) {
          let d = this.getDistanceFromLatLonInKm(location.coords.latitude, location.coords.longitude, t.location.latitude, t.location.longitude);

          // console.log("Distance: " + d);
          if (d < 1500) {
            closeByTreasure = true;
            closestDistance = (closestDistance !== undefined) ? (closestDistance < d ? closestDistance : d) : d;
          }
        }

        if (closeByTreasure) alert("Treasure in your vicinity. Distance: " + closestDistance);
      });
    },
    getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
      var R = 6371; // Radius of the earth in km
      var dLat = this.deg2rad(lat2 - lat1);
      var dLon = this.deg2rad(lon2 - lon1); 
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(this.deg2rad(lat1)) * Math.cos(this.deg2rad(lat2)) * Math.sin(dLon / 2) * Math.sin(dLon / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
      var d = R * c * 1000; // Distance in m
      return d;
    },
    deg2rad(deg) {
      return deg * (Math.PI / 180);
    },
    async readTag() {
      const ndef = new NDEFReader();
      try {
        await ndef.scan();
        ndef.onreading = event => {
          const decoder = new TextDecoder();
          let record = event.message.records[0];
          // this.recordType = record.recordType;
          // this.mediaType = record.mediaType;
          this.decodedNfcData = decoder.decode(record.data);
          // this.consoleLog("Reading NFC");
          for (let treasure in this.treasures) {
            // this.consoleLog("Testing treasue " + this.treasures[treasure].id);
            // this.consoleLog("Treasure : " + treasure);
            if (this.treasures[treasure].id == this.decodedNfcData) {
              this.treasures[treasure].collected = true;
              this.treasures[treasure].collectionTimestamp = Date.now();
              this.consoleLog("Registered treasure " + this.treasures[treasure].id);
              return;
            }
          }
        }
      } catch (error) {
        this.consoleLog(error);
        console.log(error);
      }
    },
    consoleLog(data) {
      var logElement = document.getElementById('log');
      logElement.innerHTML += data + '\n';
    },
  },
  computed: {
    showNoGeolocationModal() {
      return !('geolocation' in navigator);
    },
    showLowAccuracyModal() {
      return this.accuracy < 0 || this.accuracy > 150;
    },
    nfcAvailable() {
      return "NDEFReader" in window;
    },
  },
  beforeMount() {
    this.scan();
  },
}
</script>

<style>
#app {
  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.banner {
  border: 1px solid black;
  width: 100%;
  font-size: 3em;
  height: 60px;
  text-align: center;
  justify-content: center;
}

.treasure-list-item {
  border: 1px solid cadetblue;
  width: 80vw;
  margin: 3px;
  height: 40px;
}

li {
  list-style: none;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
